body {
  background: #0f2027;
  color: white;
  font-family: Arial;
  text-align: center;
}

.title {
  margin-top: 20px;
}

.search-box {
  margin: 20px;
}

input {
  padding: 10px;
  width: 200px;
}

button {
  padding: 10px 15px;
  background: #00c6ff;
  border: none;
  cursor: pointer;
}

#result {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.country {
  background: #203a43;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
}

img {
  width: 100%;
  border-radius: 5px;
}
